

body {
	background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
}



/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 1px;
}
h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
  padding-bottom: 12px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-weight: 400;
}

p {
    color: #757575;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.small {
  font-size: 14px;
  line-height: 28px;
}
#service .small {
  padding: 10px 20px 20px 20px;
}




/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #a1c45a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #a1c45a;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  position: relative;
  margin-bottom: 62px;
  text-align: center;
}

#portfolio,
#cta,
#team, #service,
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

#portfolio,
#service, #contact {
  padding-top: 10px;
}

#cta,
#team, #service,
footer {
  text-align: center;
}

#portfolio img,
#team img {
  border-radius: 2px;
  width: 100%;
}

.bg-gray {
  background-color: #f9f9f9;
}

.bg-dark {
  background-color: #202020;
}

.head {
  display: block;
  height: 80px;
  position: relative;
    text-align: center;
}
.lr-pd {
    padding-left: 10%;
    padding-right: 10%;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #a1c45a;
  border-radius: 2%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }




/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    border: none;
    box-shadow: 0px;
    padding-top: 22px;
    margin: 0 !important;
}

.navbar-default .navbar-brand {
  color: #757575;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #656565;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #444 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606060;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #444;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > ::before {
    position: absolute;
    content: '';
    background-color: #a1c45a;
    height: 1px;
    width: 10px;
    margin-top: 24px;
    left: 4px;
}


/*---------------------------------------
    Main section              
-----------------------------------------*/

.main-about,
.main-service, .main-contact,
.main-work {
    height: 70vh;
    text-align: center;
}




/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    height: 56vh;
    position: relative;
}

#home p {
  font-size: 27px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-top: 18px;
  text-align: center;

}




/*---------------------------------------
   CTA section              
-----------------------------------------*/

#cta p {
  color: #666;
  font-size: 24px;
  line-height: 42px;
}

#cta .btn {
  background-color: #a1c45a;
  border: 2px solid transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  letter-spacing: 1px;
  padding: 12px 36px 14px;
  margin-top: 32px;
  transition: all 0.4s ease-in-out;
}

#cta .btn:hover {
  background-color: #222;
}



/*---------------------------------------
    About section              
-----------------------------------------*/

#about {
  padding-top: 40px;
  padding-bottom: 40px;
}

#about h3 {
  text-align: center;
}

#about .chart {
  position: relative;
  text-align: center;
}

#about .chart-icon {
  position: absolute;
  left:50%;
  top:50%;
  margin:-40px 0 0 -34px;
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius:50%;
  background-color: #f0f0f0;
  color: #242424;
}

#about .chart-icon .fa {
  position: absolute;
  top:50%;
  margin-top: -12px;
  left:0;
  width: 100%;
  font-size: 24px;
}


/*---------------------------------------
   Team section              
-----------------------------------------*/

#team h4 {
  padding-bottom: 12px;
}

#team .team-thumb {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}

#team .team-overlay {
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 90px;
  overflow: hidden;
  transition: height 450ms;
}

#team .team-thumb:hover .team-overlay {
  height: 100%;
  background-color: #ffffff;
  color: #222;
  padding-top: 30%;
  opacity: 0.9;
}

#team .team-thumb:hover h4 {
  color: #a1c45a;
}


/*---------------------------------------
    Service section              
-----------------------------------------*/

#service .fa {
  background-color: #f0f0f0;
  border-radius: 100px;
  cursor: pointer;
  color: #a1c45a;
  font-size: 32px;
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0px;
}

#service .fa:hover {
  background-color: #222;
  color: #ffffff;
  transform: scale(1);
  top: -5px;
}

#service .small {
  padding-bottom: 40px;
}



/*---------------------------------------
    Portfolio section              
-----------------------------------------*/

.portfolio-thumb {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.portfolio-thumb img {
    filter: grayscale(100%);
}
    

.portfolio-item-hover {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #a1c45a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-item-hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.portfolio-item-hover .fa{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  border-radius: 2px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.portfolio-thumb a:hover .portfolio-item-hover {
  opacity: 1;
}

.portfolio-thumb a:hover .portfolio-item-hover:after {
  opacity: 1;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    padding: 0px;
    margin-bottom: 32px;
    overflow: hidden;
    text-align: center;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    border-radius: 4px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  color: #a1c45a;
}

/*worktope box css*/
.work-box-section {
    width: 100%;
}

.work-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.work-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.work-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/*---------------------------------------
   Contact         
-----------------------------------------*/

#contact form .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

#contact form .form-control:focus {
  border-bottom: 2px solid #333;
}

#contact form input {
  height: 50px;
}

#contact form input[type="submit"] {
    border-radius: 2px;
  background-color: #a1c45a;
  border: none;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 30px;
}

#contact form input[type="submit"]:hover {
  background-color: #222;
}

#contact .contact-detail {
    padding: 30px;
    background-color: #f9f9f9;
}
#contact .contact-detail-2 {
  padding-top: 6px;
}

#contact #google-map iframe {
  border: none;
  width: 100%;
  height: 350px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .footer-link ul {
  margin: 0;
  padding: 0;
  position: relative;
}

footer .footer-link ul li {
  list-style: none;
  display: inline-block;
  padding: 22px;
}

footer .footer-link ul li a {
  color: #666;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

footer .footer-link ul li a:hover {
  color: #a1c45a;
}

footer .footer-copyright {
  padding-top: 16px;
}

footer .footer-copyright p {
  padding-top: 8px;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
}

.social-icon li a:hover {
    background: #a1c45a;
    color: #ffffff;
    top: -5px;
}



/*---------------------------------------
   Back top         
-----------------------------------------*/

.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  border-radius: 2px;
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
}

.go-top:hover {
    background: #a1c45a;
    color: #ffffff;
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  #home {
    height: 32vh;
  }

  #home p {
    font-size: 23px;
  }

  .filter-wrapper li a {
    padding: 8px 12px;
  }

  #about .chart {
    margin-top: 32px;
  }

  #cta p {
    font-size: 24px;
  }

}



@media (max-width: 768px) {

  body {
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  #portfolio,
  #cta,
  #team, #service,
  #contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

}



@media (max-width: 767px) {

  .navbar-default {
    text-align: center;
    padding-top: 0px;
  }

  .navbar-default .navbar-brand {
    line-height: 25px;
  }

  .navbar-default .navbar-nav li a {
    line-height: 35px;
  }

  footer .footer-link ul li {
    padding: 8px;
  }

}



@media (max-width: 650px) {

  #home {
    height: 100vh;
  }

  h1 {
    font-size: 30px;
  }

  #home p,
  #cta p {
    font-size: 18px;
    line-height: 32px;
  }

  .filter-wrapper {
    text-align: center;
  }

  .filter-wrapper li a {
    padding: 4px;
  }

  #contact .contact-detail-1 {
    padding-top: 32px;
  }


}

/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #939597;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #939597;
  border: 5px solid #f5df4d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
